
  @import url('http://fonts.cdnfonts.com/css/circular-std');
                

.container {
  height: auto;
  width: 18.2vw;
  background-color: #1A1A1A;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

}

.bottomWrapper{
  margin-top: 20rem;
  color: #fff;
  width: 100%;
  font-family: 'Circular Std', sans-serif;  
  padding-left: 1rem; 
  border-top: 2px solid #1F1F1F;
  align-items: center;
}

.bottomItem{
  padding-top: 20px;
  color: #4D4D4D;
  font-size: 16px;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  width: 100%;
}

.linkItemWrapper {
  cursor: pointer;
  background: #1A1A1A;
  border-left: 5px solid #1A1A1A;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  height: 5.925925925925926vh;
  padding-left: 10%;
}

.navIcon {
  height: 2.2222222222222223vh;
  width: auto;
}

.linkIcon {
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.linkTxt{
  font-family: 'Circular Std', sans-serif;                                       
  color: #fff;
  font-size: 1.7592592592592593vh;
  line-height: 2vh;
}

.logo{
  cursor: pointer;
  align-items: center;
}

.headerImg{
  border-bottom: 2px solid #1F1F1F;
  align-items: centre;
  display: flex;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.2vw;
}

.logoName{
  font-family: Circular Std;
  font-size: 2.2222222222222223vh;
  font-weight: 450;
  line-height: 2.7777777777777777vh;
  text-align: left;
  color: #FFFFFF;
}

.linkItemWrapper:active{
  background: linear-gradient(90deg, rgba(170, 128, 255, 0.1), rgba(170, 128, 255, 0));
  border-left: 5px solid #661AFF;
  width: 100%;
  align-items: center;
}

.linkItemWrapper:hover{
  background: linear-gradient(90deg, rgba(170, 128, 255, 0.1), rgba(170, 128, 255, 0));
  border-left: 5px solid #661AFF;
  width: 100%;
  align-items: center;
}
.bottomItemLogOut{
  color: #FF0055;
  font-size: 19px;
  font-family: 'Circular Std', sans-serif;  
  padding-top: 10px;
  cursor: pointer; 
  align-items: center;
  display: flex;
}
.span{
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .bottomWrapper{
    margin-top: 22rem;
 }
}

