.box {
    color: white;
    font-family: 'Circular Std', sans-serif;    
    align-items: center;
    text-align: center;
    background-color: white;
    margin-right: 30rem;
    margin-left: 30rem;
}

.name {
    color: black;
    text-align: center;
    margin-top: 6rem;
}

.login_text {
    margin-top: 4rem;
    color: black;
}

.login_button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5rem;
    justify-content: center;
    margin-top: 1rem;
}

.headerImg{
    height: 10vh;
    width: 325px;
}

.logo{
    cursor: pointer;
}

.input_text {
    margin-right: 4rem;
}

.signup_link {
    color: black;
}