.box {
    color: white;
    font-family: 'Circular Std', sans-serif;    
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    justify-content: center;
}

.headerImg{
    height: 10vh;
    width: 325px;
}

.logo{
    cursor: pointer;
}

.input_text {
    
}